<table>
  <tr>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Especialidade</th>
  </tr>

  <tr>
    <td> Reurb  </td>
    <td> Januária </td>
    <td> Regularização fundiária </td>
  </tr>

</table>

